<div class="alert alert-primary" role="alert">
    <h1>System Penjualan</h1>
</div>

<div class="kanan-dikit">
    <h2>Ini adalah Web aplikasi sistem penjualan</h2>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique non aliquam reprehenderit harum eum quos saepe
    dolorum sequi! Accusantium cum, assumenda obcaecati esse molestias eius mollitia incidunt architecto nesciunt
    veritatis.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi autem, libero delectus facilis in quam! Deleniti,
    at,
    deserunt, adipisci ratione natus dignissimos corporis praesentium facere iure dolor iusto libero voluptas.

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat tempora, rem, voluptatibus perferendis delectus
        earum odit odio quibusdam illum in atque quia rerum nobis aspernatur dolorem tempore similique. Rem, ipsa!</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum excepturi in asperiores itaque obcaecati tenetur,
        pariatur nostrum libero velit, eum harum minima laborum, voluptates voluptatum repellat suscipit nesciunt
        dolorum
        quas.</p>
    <br>
    <br>
    <strong> ipsum dolor sit</strong>, amet consectetur adipisicing elit. Itaque consequatur, reprehenderit vel
    recusandae,
    ipsum quos
    labore soluta, laborum excepturi quidem voluptate. Deserunt reprehenderit ipsum nihil odio quasi fugit id ipsa.

    <hr>
    <h3>Fitur Aplikasi</h3>

    <!-- ol adalah order list -->
    <!-- ctrl + / -->
    <!-- li adalah list item  -->
    <ol type="a">
        <li>Manajemen Barang
            <ul type="square">
                <li>Input Barang</li>
                <li>Lihat Barang</li>
            </ul>
        </li>
        <li>Manajemen Pengguna
            <ul type="square">
                <li>Input Barang</li>
                <li>Lihat Barang</li>
            </ul>
        </li>
        <li>Transaksi
            <ul type="square">
                <li>Input Barang</li>
                <li>Lihat Barang</li>
            </ul>
        </li>
    </ol>
</div>